<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.example.org/metamodel"
            class="metamodel.MetamodelPackage"
            genModel="src/metamodel/metamodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated metamodel -->
      <parser
            type="cppmodel"
            class="metamodel.util.MetamodelResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.test.gen.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="com.test.gen.actions.SampleAction"
               icon="icons/sample.gif"
               id="com.test.gen.actions.SampleAction"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
   </extension>

</plugin>
